<form method="post" action="/login" id="login" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50%;">
  <h1>GeoChat Login</h1>
  <table style="margin-bottom: 10px">
    <tr style="height: 30px;">
      <td>
        <label for="username">Username:</label>
      </td>
      <td>
        <input name="username" id="username" type="text" required>
      </td>
    </tr>
    <tr style="height: 30px;">
      <td>
        <label for="password">Password:</label>
      </td>
      <td>
        <input name="password" id="password" type="password" required>
      </td>
    </tr>
  </table>
  <button type="submit">Log in</button>
</form>
<div style="text-align: center; font-size: 15px">
  <p>If you don't have account, log in as a guest</p>
  <div style="text-align: center;">
    <div><p style="font-weight: bold">Username:</p><p style="font-style: italic">guest</p></div>
    <div><p style="font-weight: bold">Password:</p><p style="font-style: italic">guest</p></div>
  </div>
  <p>Then create an account</p>
</div>